<section class="RedSocial">
  <ul>
    
    <li>
      <a href="">
        <img src="/Images/Icons/facebook.svg" alt="facebook" />
      </a>
    </li>

    <li>
      <a href="zacualtipan2012@gmail.com">
        <img src="/Images/Icons/facebook.svg" alt="gmail" />
      </a>
    </li>
    
    <li>
      <a href="7747420589">
        <!-- telefono -->
        <img src="/Images/Icons/facebook.svg" alt="facebook" />
      </a>
    </li>
    
    <li>
      <a href="">
        <img src="/Images/Icons/facebook.svg" alt="facebook" />
      </a>
    </li>
  
</ul>
</section>

<style>
  section {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
</style>
