---
import Icon from "../ComponentsIcons/Icon.astro"
---

<section class="RedSocial p-2">
  <ul class="flex justify-evenly items-center">
    
    <li>
      <a href="">
        <Icon imagePath="/public/Images/Icons/facebook.svg" altText="facebook"/>
      </a>
    </li>

    <li>
      <a href="zacualtipan2012@gmail.com">
        <Icon imagePath="/public/Images/Icons/gmail.svg" altText="emial" />
      </a>
    </li>
    
    <li>
      <a href="7747420589">
        <!-- telefono -->
        <!-- <Icon imagePath="" altText="" /> -->
        <Icon imagePath="/public/Images/Icons/facebook.svg" altText="facebook"/>
      </a>
    </li>
    
    <li>
      <a href="">
        <!-- <Icon imagePath="" altText="" /> -->
        <Icon imagePath="/public/Images/Icons/facebook.svg" altText="facebook"/>
      </a>
    </li>
  
</ul>
</section>

