---

---

<section class="CardRedSocial">
  <article>
    <div
      class="fb-page"
      data-href="https://www.facebook.com/SEPmx"
      data-tabs="timeline"
      data-width=""
      data-height=""
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
    >
      <blockquote
        cite="https://www.facebook.com/SEPmx"
        class="fb-xfbml-parse-ignore"
      >
        <a href="https://www.facebook.com/SEPmx"
          >Secretaría de Educación Pública</a
        >
      </blockquote>
    </div>
  </article>

  <article>
    <div
      class="fb-page"
      data-href="https://www.facebook.com/profile.php?id=61558607145376"
      data-tabs="timeline"
      data-width=""
      data-height=""
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
    >
      <blockquote
        cite="https://www.facebook.com/profile.php?id=61558607145376"
        class="fb-xfbml-parse-ignore"
      >
        <a href="https://www.facebook.com/profile.php?id=61558607145376"
          >Escuela Primaria "Profesor Francisco Cesar Morales".</a
        >
      </blockquote>
    </div>
  </article>
</section>



<!-- <div id="fb-root"></div> -->
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v19.0"
  nonce="moJIBk27">
</script>

<style>
  .CardRedSocial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
  }


  @media (max-width: 600px) {
    .CardRedSocial {
      display: block;
      margin: 0 auto;
      article {
        margin: 20px 0;
      }
    }
  }
</style>
