---
import { POSTS } from "./ContentPosto";
---

<section class="p-2 grid grid-cols-2 sm:grid-cols-3 " id="Noticias">
  {
    POSTS.map(({ title, content, image, descripcion }) => (
      <article class="p-2 m-2 border rounded-lg border-green-950 hover:bg-emerald-950/95 hover:text-white">
        <img src={image} alt={descripcion} class="rounded-lg" />
        <h2 class="text-2xl m-2">
          <strong class="">{title}</strong>
        </h2>
        <p>{content}</p>
      </article>
    ))
  }
</section>
