---
import Submit from "./Submit.astro";
---

<form
  action=""
  class="w-11/12 m-auto p-2 rounded-lg border-2 border-solid border-emerald-950 sm:w-6/12 mt-4"
>
  <label class="flex p-2">
    <span class="text-base m-2 p-2">Nombre del alumno:</span>
    <input
      type="text"
      class="border-2 border-solid rounded focus:outline-none focus:border-emerald-950"
    />
  </label>
  <label class="flex p-2">
    <span class="text-base m-2 p-2">Nombre del tutor:</span>
    <input
      type="text"
      class="border-2 border-solid rounded focus:outline-none focus:border-emerald-950"
    />
  </label>
  <Submit value="Entrar" />
</form>
