<form action="">
    <label>
      <span>Nombre del alumno:</span>
      <input type="text" />
    </label>
    <label>
      <span>Nombre del tutor:</span>
      <input type="text" />
    </label>
  </form>
  
  <style>
    form {
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      border: 2px solid #0C231E;
      border-radius: 10px;
      
      label {
          display: flex;
          padding: 10px;
      }
      
      span {
          font-size: medium;
          margin: 5px;
      }
  
      input {
        outline: none;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  </style>
  