<!-- 
    bg-[url('/Images/Carrusel/Image4.jpg')] 

    style="
    width: 100%;
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(/Images/Carrusel/Image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    "

-->
<section
  class="w-full h-svh bg-[url('/Images/Carrusel/Image4.jpg')] bg-cover bg-repeat-none bg-size p-4 mb-4"
>
  <article class="text-white text-base font-semibold">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eum
      ipsam consequatur facere molestiae voluptas unde asperiores nisi mollitia
      et, ipsum amet! Hic, illum porro inventore tempore non sed id!
    </p>
  </article>
</section>
