---
import { DOCENTES } from "./Docentes.js";
---

<h1 class="text-3xl text-center m-2">Docentes y Asistentes Del PLantel:</h1>
<section class="m-2 grid grid-cols-2 sm:grid-cols-4">
  {
    DOCENTES.map(({ Nombre, cargo, image, alt }) => (
      <article class="border-4 rounded-lg border-gren-950 m-2 p-2 bg-emerald-950 hover:bg-emerald-800">
        <div class="flex m-2 text-white/95">
          <img src={image} alt={alt} />
          <h3 class="m-2">{Nombre}</h3>
        </div>
        <span class="text-white/80">{cargo}</span>
      </article>
    ))
  }
</section>

