---
import Layout from "../layouts/Layout.astro";
---

<Layout title="No Existe Pagina">
    <section class="w-11/12 items-center m-auto text-center">
        <h1>Pagina No Encontrada.</h1>
        <h1><strong>Error 404</strong></h1>
        <h2>Regrese al Inicio de la Pagina</h2>
    </section>
</Layout>