---
import Layout from "../layouts/Layout.astro";


---

<Layout title="No Existe Pagina">
    <section>
        <h1>Pagina No Encontrada.</h1>
        <h1><strong>Error 404</strong></h1>
        <h2>Regrese al Inicio de la Pagina</h2>
    </section>
</Layout>

<style>
    section {
        width: 90%;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
</style>