---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Carrosel from "../components/Carrosel.astro";
import Footer from "../components/Footer.astro";
import Networks from "../components/Networks.astro";
//import Card from '../components/Card.astro';
---

<Layout title='Escuela "Franciso Cesar Morales". '>
  <main>
    <Hero />
    <Carrosel />
  </main>
  <aside>
    <Networks />
  </aside>
  <Footer />

    
  <style>

  </style>
</Layout>

