---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Carrosel from "../components/Carrosel.astro";
import Footer from "../components/Footer.astro";
import Networks from "../components/Networks.astro";

// import CarosuelCSS from "../example/CarosuelCSS.astro";
---

<Layout title='Escuela "Franciso Cesar Morales". '>
  <main>
    <Hero />
    <Carrosel />
    <hr>
    <!-- <CarosuelCSS /> -->
  </main>
  <aside>
    <!-- <Nose /> -->
    <Networks />
  </aside>
  <Footer />

    
  <style>

  </style>
</Layout>

