---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Carrosel from "../components/Carosuel/Carousel.astro";
import Footer from "../components/Footer.astro";
import Networks from "../components/Newtworks/Networks.astro";
import IconsNewtworks from "../components/Newtworks/IconsNewtworks.astro";

// import NewCarousel from "../example/NewCarousel.astro";

// import Ne  wImages from "../example/ImagesDynamically.astro";
// import CarosuelCSS from "../example/CarosuelCSS.astro";
---

<Layout title='Escuela "Franciso Cesar Morales". '>
  <main>
    <Hero />
    <Carrosel />
    <hr />
    <!-- <NewImages /> -->
    <!-- <NewCarousel /> -->
  </main>
  <aside>
    <!-- <Nose /> -->
    <Networks />
    <IconsNewtworks />
  </aside>
  <Footer />

  <style></style>
</Layout>
