---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import Carrosel from "../components/Carosuel/Carousel.astro";
import Footer from "../components/Footer/Footer.astro";
import Networks from "../components/Newtworks/Networks.astro";
import IconsNewtworks from "../components/Newtworks/IconsNewtworks.astro";
---

<Layout title='Escuela "Franciso Cesar Morales". '>
  <main>
    <Hero />
    <Carrosel />
    <hr />
  </main>
  <aside>
    <!-- <Networks /> -->
    <IconsNewtworks />
  </aside>
  <Footer />
</Layout>
