---
import Layout from "../layouts/Layout.astro";
// import Hero from "../components/Hero/Hero";
import Presentacion from "../components/Carosuel/Presentacion.astro";
import Carrosel from "../components/Carosuel/Carousel.astro";
import Docente from "../components/Hero/Docente.astro";
import Footer from "../components/Footer/Footer.astro";
import IconsNewtworks from "../components/Newtworks/IconsNewtworks.astro";
---

<Layout title='Escuela "Franciso Cesar Morales". '>
  <main>
    <!-- <Hero /> -->
    <Presentacion />
    <Carrosel />
    <Docente />
    <hr />
  </main>
  <aside>
    <IconsNewtworks />
  </aside>
  <Footer />
</Layout>
