---

---

<section class="slider">
  <div class="slider__container container">
    <img
      src="../../Slider/slider-js/assets/leftarrow.svg"
      class="slider__arrow"
      id="before"
    />

    <section class="slider__body slider__body--show" data-id="1">
      <figure class="slider__picture">
        <img
          src="../../src/Images/Imagen1.jpg"
          class="slider__img"
        />
      </figure>
    </section>

    <section class="slider__body" data-id="2">
      <figure class="slider__picture">
        <img
          src="../../src/Images/Imagen2.jpg"
          class="slider__img"
        />
      </figure>
    </section>

    <section class="slider__body" data-id="3">
      <figure class="slider__picture">
        <img
          src="../../src/Images/Imagen3.jpg"
          class="slider__img"
        />  
      </figure>
    </section>

    <section class="slider__body" data-id="4">
      <figure class="slider__picture">
        <img
          src="../../src/Images/Imagen4.jpg"
          class="slider__img"
        />
      </figure>
    </section>

    <img
      src="../../Slider/slider-js/assets/rightarrow.svg"
      class="slider__arrow"
      id="next"
    />
  </div>
</section>

<script src="./Carrosel.js"></script>

<style>
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  .slider {
    background-color: #f2f2f2;
    padding: 40px 0;
  }

  .slider__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
  }

  .slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
  }

  .slider__body--show {
    opacity: 1;
    pointer-events: unset;
  }

  .slider__img {
    width: 100%;
    border-radius: 20px;
    height: 390px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .slider__arrow {
    cursor: pointer;
    width: 90%;
  }

  .slider__arrow:nth-of-type(2) {
    justify-self: end;
  }

  @media (max-width: 768px) {
    .slider__body {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 1em;
    }

    .slider__picture {
      grid-row: 1/2;
    }

  }

  @media (max-width: 425px) {
    .slider__container {
      grid-template-columns: 25px 1fr 25px;
    }

    .slider__arrow {
      width: 100%;
    }

    .subtitle {
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .slider__review {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
</style>
