---

---

<footer>
  <section class="social">
    <h2>Redes Sociales - Organizaciones:</h2>
    <ul class="social-icons">
      <li>
        <a href="">Facebook</a>
      </li>
      <li>
        <a href="">Telefono</a>
      </li>
      <li>
        <a href="">Gmail</a>
      </li>
    </ul>
    
    <hr />
      
    <section class="final">
      <p>
        © Sitio Web Oficial del Escuela Primaria "Francisco Cesar Morales" de
        Zacualtipán de Ángeles, Hidalgo, México 2024.
      </p>
    </section>
</footer>
    <style>
      footer {
        padding: 10px;
        margin: 0 auto;
        align-content: center;

        .social {
          text-align: center;
          padding: 10px;

          ul {
            li > a {
              background: #2f3640;
              color: #616161;
              font-size: 12px;
              padding: 35px 0;
              margin: 10px auto;
              display: flex;
            }
          }
        }

        hr {
          width: 90%;
          margin: 10px;
          margin: 0 auto;
          align-content: center;
        }

        section,
        .final {
          padding: 10px;
          margin: 0 auto;
          align-content: center;
          font-size: small;
        }
      }
    </style>
  </section>
</footer>
