---

---

<header>
  <nav>
    <ul class="menu-list">
      <li><a href="">Inicio</a></li>
      <li><a href="">Noticias</a></li>
      <li><a href="">Contactar</a></li>
      <li><a href="">Redes Sociales</a></li>
    </ul>
    <ul class="menu-list">
      <li><a href="/Login">Iniciar</a></li>
      <li><a href="/SingUp">Registrar</a></li>
    </ul>
  </nav>
</header>

<style>
  nav {
    background: #0C231E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* li {
      margin: 0 30px;
    } */

    a {
      padding: 5px;
      margin: 10px;
      cursor: pointer;
      color: #ffff;
      font-weight: 700;
    }

    a:hover {
      transition: .5s ease;
      border-bottom: 2px solid #104b3e;  
    }
  }

  section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  @media (max-width: 768px) {
    .menu-list {
      /* flex-wrap: wrap; */
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
</style>
