---
import Icon from "./Icon.astro"
---

<!-- #0C231E -->
<header>
  <nav class="bg-emerald-950 flex items-center justify-evenly p-4">
    <!-- class="flex justify-evenly items-center" -->
    <ul class="menu-list flex justify-evenly items-center">
      <li>
        <Icon imagePath="/public/Images/Icons/home.svg" altText="Inicio" />
        <a href="">Inicio</a>
      </li>
      <li>
        <Icon imagePath="/public/Images/Icons/news.svg" altText="notiicas" />
        <a href="">Noticias</a>
      </li>
      <li>
        <Icon imagePath="/public/Images/Icons/address-book.svg" altText="notiicas" />
        <a href="">Contactar</a>
      </li>
      <li>
        <Icon imagePath="/public/Images/Icons/network.svg" altText="noticias" />
        <a href="">Redes Sociales</a>
      </li>
    </ul>
    <ul class="menu-list">
      <li>
        <Icon imagePath="/public/Images/Icons/user.svg" altText="crear" />
        <a href="/Login">Iniciar</a>
      </li>
      <li>
        <Icon imagePath="/public/Images/Icons/user-up.svg" altText="entrar" />
        <a href="/SingUp">Registrar</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .menu-list {
    li {
      margin: 10px;
      cursor: pointer;
      color: #ffff;
      font-weight: 700;
      display: flex;
      align-items: center;
      a {
        margin: 10px;
      }
    }
    li:hover {
      transition: .5s ease;
      border-bottom: 3px solid #104b3e;  
    }
  }

  @media (max-width: 768px) {
    .menu-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
</style>
