---

---

<section class="Facebook">
  <div
    class="fb-page"
    data-href="https://www.facebook.com/SEPmx"
    data-tabs="timeline"
    data-width=""
    data-height=""
    data-small-header="false"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/SEPmx"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/SEPmx"
        >Secretaría de Educación Pública</a
      >
    </blockquote>
  </div>
</section>

<section class="RedSocial">
  <ul>
    <li>
      <a href="">
        <img src="/Images/Icons/facebook.svg" alt="facebook" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="/Images/Icons/gmail.svg" alt="gmail" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="/Images/Icons/facebook.svg" alt="facebook" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="/Images/Icons/facebook.svg" alt="facebook" />
      </a>
    </li>
  </ul>
</section>

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v19.0"
  nonce="moJIBk27"></script>

<style>
  /* body {
    background: #d2d2d2;
  } */
  .Facebook {
    width: 50%;
    margin: 0 auto;
  }

  .RedSocial > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 15px;

    li > a {
      font-weight: 700;
      padding: 10px;
      border: 1px solid #104b3e;
      border-radius: 10px;
    }
  }
  li > a:hover {
    color: #ffff;
    background: #104b3e;
  }
</style>
