---
import Slide from './Slide.astro'
---

<template>
  <div class="carousel">
    <button @click="prevSlide">Anterior</button>
    <div class="slides">
      <Slide v-for="(slide, index) in slides" :key="index" :src="slide.src" :alt="slide.alt" />
    </div>
    <button @click="nextSlide">Siguiente</button>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import Slide from './Slide.astro';

const slides = ref([
  { src: '/img1.jpg', alt: 'Image 1' },
  { src: '/img2.jpg', alt: 'Image 2' },
  { src: '/img3.jpg', alt: 'Image 3' },
]);

const prevSlide = () => {
  // Lógica para mostrar el slide anterior
};

const nextSlide = () => {
  // Lógica para mostrar el siguiente slide
};
</script>
