---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  imagePath: string;
  // altText: string;
}

// , altText
const { imagePath} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpg,png,gif}"`
  );
---

<div class="card">
  <Image src={images[imagePath]()} alt="Imagenes" />
</div>
