<section class="text-semibold text-center">
    <p>Calle Ocampo No. 60, Colonia Lopez Mateos.</p>
    <p>Zacualtipan De Angeles, Hidalgo. C.P. 43200.</p>
    <p><strong>Ref.</strong> Calle Ignacio Allende, Manzana 023.</p>
</section>